<!doctype html>
<html>
<!-- Copyright 2015 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->
<head>
    {% load staticfiles %}
  <link rel="stylesheet" href="/static/css/theme.css"></link>
  <link rel="stylesheet" href="/static/css/local-ntp.css"></link>
  <script src="/static/js/local-ntp.js"></script>
  <meta charset="utf-8">
  <meta name="google" value="notranslate">
    <title>hhhttestqa</title>
</head>

<body>
      <div id="most-visited">
          <div id="mv-tiles" style="opacity: 1;">
             <a class="mv-tile" data-tid="9" href="http://119.23.218.196:4321/tools/" aria-label="测试平台" title="测试平台testqa">
                <div class="mv-title" style="direction: ltr;">测试平台</div>
                <div class="mv-thumb"><img title="testqa" src="/static/images/logo.png"></div>
             </a>
             <a class="mv-tile" data-tid="10" href="http://tools-git.188w.com/" aria-label="Projects · Dashboard · GitLab" title="Projects · Dashboard · GitLab">
                <div class="mv-title" style="direction: ltr;">Projects · Dashboard · GitLab</div>
                <div class="mv-thumb"><img title="Projects · Dashboard · GitLab" src="/static/images/logo.png"></div>
           </a>
          </div>
      </div>


</body>

</html>